@use 'variables';
@use 'mixins';

.search-block{
    @include mixins.default-grid;

    .search{
        @include mixins.default-grid;

        &__input{
            width: 100%;
            justify-self: center;
            max-width: 23rem;
            border-radius: 999rem;
            padding: 0.25rem 0.75rem;
            border-color: rgba(0,0,0,0.5);
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 1.75rem;
        }
    }

    .results{
        @include mixins.default-grid;
        grid-template-columns: 0.15fr 1fr 0.15fr;
        

        &__item{
            @include mixins.default-grid;
            grid-template-rows: 10rem;
            grid-template-columns: 0.15fr 0.3fr 1fr;
            grid-column: 2/3;
            width: 100%;
            justify-self: center;
            border-top: solid 1px rgba(0,0,0,0.4);
            padding: 1.25rem 0;
        }

        &__rating{
            grid-column: 1/2;
            padding: 0 0.75rem;
            font-size: 1.15rem;
            font-weight: bold;
            text-align: center;
            place-self: center center;
        }

        &__score{
            margin-top: 0.5rem;
            display: block;
            font-size: 1.5rem;
            font-weight: normal;
        }

        &__image{
            @include mixins.default-img;
            height: 10rem;
            grid-column: 2/3;
            justify-self: center;
        }

        &__placeholder{
            height: 10rem;
            width: 6.65rem;
            background:lightgray;
            grid-column: 2/3;
            justify-self: center;
        }

        &__title{
            grid-column: 3/4;
            align-self: center;
            font-size: 1.75rem;
            margin-left: 0.5rem;
            line-height: 1.2;
            position: relative;
        }

        &__count{
            opacity: 0.85;
            font-size: 0.95rem;
            margin-left: 0.5rem;
            align-self: center;
            position: absolute;
            left: -0.5rem;
            bottom: -1.5rem;
        }
    }
}